{{> head}}
<div class="crumbs"><a href="/">Index</a> &rsaquo; {{category.name}}</div>

<div class="cathead">
  {{#categoryIcon}}<img class="caticon" src="{{categoryIcon}}" alt="">{{/categoryIcon}}
  {{^categoryIcon}}<span class="caticon blank"></span>{{/categoryIcon}}
  <div class="cathead-text">
    <h1>{{category.name}}</h1>
    <div class="prose">{{{summaryHtml}}}</div>
  </div>
</div>

{{#hasSoftware}}
<div class="bar">Titles <small>{{softwareLabel}}</small></div>
<ul class="catlist">
{{#software}}
  <li class="catrow">
    {{#icon}}<img class="icon" src="{{icon}}" alt="">{{/icon}}
    {{^icon}}<span class="icon blank"></span>{{/icon}}
    <div class="catbody">
      <div class="cattop">
        <a class="cattitle" href="/{{category}}/{{slug}}/">{{name}}</a>
      </div>
      {{#blurb}}<p class="catblurb">{{blurb}}</p>{{/blurb}}
      {{#publisher}}<div class="cattags"><a class="pill" href="/search?publisher={{publisher}}&amp;show=software">{{publisher}}</a></div>{{/publisher}}
    </div>
  </li>
{{/software}}
</ul>
{{/hasSoftware}}

{{^hasSoftware}}
<div class="empty">Nothing in this category yet.</div>
{{/hasSoftware}}
{{> foot}}
