{{> adminshell}}
<div class="crumbs"><a href="{{root}}/browse/{{version.category_slug}}/{{version.software_slug}}/{{version.slug}}">{{version.software_name}} {{version.version}}</a>
  &rsaquo; new file</div>

<div class="bar">Add A File</div>
{{#message}}<div class="empty warn">{{message}}</div>{{/message}}
<form class="search-panel" method="post" action="{{root}}/files" enctype="multipart/form-data">
  <input type="hidden" name="version_id" value="{{version.id}}">
  <div class="search-grid">
    <label>Display name<input name="display_name" required></label>
    <label>Slug <span class="hintmark">leave blank to name it after the display name</span>
      <input name="slug"></label>

  </div>

  <div class="pickpair">
    <div>
      <label>The file itself</label>
      {{#filePick}}{{> storagepick}}{{/filePick}}
    </div>
    <div>
      <label>File type</label>
      <div class="linkpick" data-pick="filetype" data-many="0" data-verb="Use"
           data-labels="{}" data-make-url="{{root}}/make">
        <input type="hidden" name="file_type_slug" value="" data-pick-value>
        <div class="chosenrow">
          <span data-pick-chosen class="tags"></span>
          <button type="button" data-pick-open>Choose a file type</button>
        </div>
        <div data-pick-drawer hidden>
          <div class="pickhead">
            <input type="search" data-pick-search placeholder="Search file types" aria-label="Search file types" autocomplete="off">
            <button type="button" data-pick-make>Add new</button>
          </div>
          <ul data-pick-list></ul>
        </div>
      </div>
    </div>
    <div>
      <label>Language</label>
      <div class="linkpick" data-pick="language" data-many="1" data-verb="Use"
           data-labels="{{languageLabels}}" data-make-url="{{root}}/make">
        <input type="hidden" name="language" value="" data-pick-value>
        <div class="chosenrow">
          <span data-pick-chosen class="tags"></span>
          <button type="button" data-pick-open>Add a language</button>
        </div>
        <div data-pick-drawer hidden>
          <div class="pickhead">
            <input type="search" data-pick-search placeholder="Search languages" aria-label="Search languages" autocomplete="off">
            <button type="button" data-pick-make>Add new</button>
          </div>
          <ul data-pick-list></ul>
        </div>
      </div>
    </div>
  </div>

  <label class="wide">Notes <span class="hintmark">Markdown allowed</span>
    <textarea name="notes" rows="4"></textarea></label>
  <div class="search-row">
    <button type="submit">Add</button>
    <a class="clear" href="{{root}}/browse/{{version.category_slug}}/{{version.software_slug}}/{{version.slug}}">Cancel</a>
  </div>
</form>
{{> adminfoot}}
