{{> head}}
<div class="crumbs"><a href="/">Index</a> &rsaquo; Recent</div>
<h1>Recently Added</h1>
<p class="pagedesc">The most recent additions to the archive, newest first.</p>

{{#hasSoftware}}
<div class="bar red">New Arrivals</div>
<ul class="catlist">
{{#software}}
  <li class="catrow">
    {{#icon}}<img class="icon" src="{{icon}}" alt="">{{/icon}}
    {{^icon}}<span class="icon blank"></span>{{/icon}}
    <div class="catbody">
      <div class="cattop">
        <a class="cattitle" href="/{{category}}/{{slug}}/">{{name}}</a>
        <span class="catcount">{{versionsLabel}} &middot; {{filesLabel}}</span>
      </div>
      {{#blurb}}<p class="catblurb">{{blurb}}</p>{{/blurb}}
      <div class="cattags">
        <a class="pill" href="/{{category}}/">{{categoryName}}</a>
        {{#added}}<span class="when">added {{added}}</span>{{/added}}
      </div>
    </div>
  </li>
{{/software}}
</ul>
{{/hasSoftware}}

{{^hasSoftware}}
<div class="empty">Nothing here yet.</div>
{{/hasSoftware}}
{{> foot}}
